* {
    margin: 0;
    padding: 0;
}

.container {
    height: 350px;
    width: 100vw;
    background-color: orange;
    display: flex;
    align-items: center;

}

.container img {
    height: 200px;
}

.img-btn img {
    height: 50px;
}